<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>

<body>
<p>
    <a href="/matrix/t0/100;mv=50">matrix test0</a>
    <br/>
    <a href="/matrix/t1/lalala;matrix_var=test1">matrix test1</a>
    <br/>
    <a href="/matrix/t2/lalala;m_v=100">matrix test2</a>
    <br/>
    <a href="/matrix/t3/smth;key1=100;key2=foo/smth;key3=bar;key4=buzz">matrix test3</a>
    <br/>
    <a href="/matrix/t4/smth;key1=100;key2=foo/smth;key1=bar;key2=buzz">matrix test4</a>
    <br/>
    <a href="/matrix/t5/smth;first=foo/smth;last=bar">matrix test5</a>
    <br/>
    <a href="/matrix/t6/smth;mv=foo/smth;mv=bar">matrix test6 - error</a>
    <br/>
    <a href="/matrix/t7/smth;mv=foo">matrix test7 - error</a>
</p>
</body>
</html>